.caja{
    width: 1400px;
    height: 400px;
    display: flex;
    font-family: "Noto Sans", sans-serif;;
    color:white;
    text-align: center;
    margin: 30px auto;
}

.caja img{
    width: 700px;
    height: 400px;
}

.caja div{
    padding: 10px;
    margin: 100px auto;
}

.caja p {
    font-size: 19px;
    padding: 0px 130px;
}

#caja-1, #caja-4{
    background-color: #1e3932;
}

#caja-2{
    background-color: #0044b4;
}

#caja-3, #caja-5{
    background-color: #d50032;
}       

#caja-5 button a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#caja-5 button{
    background: none;
    border: white 1px solid;
    border-radius: 20px;
    padding: 7px 16px 7px 16px; 
    transition: background-color 0.2s ease;
}

#caja-5 button:hover{
    cursor: pointer;
    background-color: #d41f4a;  
}

#caja-6{
    background-color: #f6bfd9;
    color: #d50032;
}

#caja-6 button a{
    color: #d50032;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#caja-6 button{
    background: none;   
    border: #d50032 1px solid;
    border-radius: 20px;
    padding: 7px 16px 7px 16px; 
}

#caja-7{
    background-color: #98cde4;
    color: #003b49;
}

#caja-7 button a{
    color: #003b49;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}       

#caja-7 button{
    background: none;
    border: #003b49 1px solid;
    border-radius: 20px;
    padding: 7px 16px 7px 16px; 
}

#caja-6, #caja-7 button:hover{
    cursor: pointer;  
}

#cajas-bajas{
    width: 1400px;
    height: 400px;
    display: flex;
    text-align: center;
    margin: 30px auto;
    font-family: "Noto Sans", sans-serif;;
}

